body{
	margin: 0;
}
nav{
	width: 300px;
  	border: 15px solid green;
  	padding: 50px;
	background-color: yellow;
	margin-bottom: 20px;
	text-align: center;
}
grad {
  background-image: linear-gradient(pink, yellow);
}
nav a{
	color: #324;
        font-family: cursive;
	font-weight: 900;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
}
nav a:hover{
	text-decoration: underline;
}
nav a.selected{
	color: orange;
}
article{
        font-family: sans-serif;
	font-weight: 200;
}
h3{
	width: 300px;
  	border: 15px solid green;
  	padding: 50px;
	font-family: serif;
	font-weight: bold;
	background-color: green;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: cursive;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
div {
  width: 300px;
  border: 15px solid orange;
  padding: 50px;
  margin: 20px;
}
@media (min-width: 600px)
figure{
	float: left;
	background-color: purple;
	margin:0 0 20px 0;
	width: 50%;
	text-align: center;
	position: relative;
}
footer{
background-color: pink;
}
